"*":
  "atom-fuzzy-grep":
    detectGitProjectAndUseGitGrep: false
    grepCommandString: "ag -i --nocolor --nogroup --column --ignore=build --ignore=build-directory --ignore=dist --ignore=vendor --ignore=*[-.]min[-.]* --ignore=bundle.js --ignore=*.json"
  core:
    audioBeep: false
    destroyEmptyPanes: false
    disabledPackages: [
      "whitespace"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/czarate/Documents/Scratch"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    invisibles:
      tab: "┈"
    lineHeight: 1.4
    showInvisibles: true
    softTabs: false
    tabType: "hard"
  "exception-reporting":
    userId: "70c5597e-072a-a8ab-3d72-c1633b71a5c2"
  "fuzzy-finder":
    ignoredNames: [
      "build*"
      "dist*"
    ]
  linter: {}
  "linter-eslint":
    global: {}
  "linter-php":
    executablePath: "docker-php"
  "linter-shellcheck":
    enableNotice: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
