"*":
  core:
    disabledPackages: [
      "whitespace"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "php-debug"
    ]
    projectHome: "/Users/czarate/Documents/Scratch"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Inconsolata-dz for Powerline"
    fontSize: 13
    invisibles:
      tab: "┈"
    lineHeight: 1.4
    showInvisibles: true
  "exception-reporting":
    userId: "70c5597e-072a-a8ab-3d72-c1633b71a5c2"
  linter:
    errorPanelHeight: 250
    showErrorTabFile: false
    showErrorTabProject: false
    statusIconPosition: "Right"
    statusIconScope: "File"
  "linter-js-standard":
    checkStyleDevDependencies: true
    style: "semi-standard"
  "linter-phpcs":
    codeStandardOrConfigFile: "WordPress"
  "linter-phpmd":
    rulesets: "cleancode,codesize,design,naming,unusedcode"
  "linter-shellcheck":
    enableNotice: true
  "php-debug":
    PathMaps: [
      "/var/www/html/wp-content/themes/vip/project;/Users/czarate/Documents/Scratch/dev/qz-api"
    ]
    ServerPort: 9000
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
