@editor-background-color: #1d1d1d;
@ui-border-color: #1a1a1a;

// Title bar.
atom-panel.header {
  border-bottom: 0;

  .title-bar {
    background-color: transparent;
  }
}

// Darker darks and whiter whites.
atom-text-editor {
  background-color: @editor-background-color;
  color: #fff;

  .gutter {
    background-color: @editor-background-color;
  }

  .gutter-container {
    border-right: solid 1px @ui-border-color;
    margin-right: 1px;
  }

  .invisible-character {
    color: #333;
  }
}

// Match active tab background color to editor. Flatter flats
.theme-one-dark-ui {
  .tab.active[data-type="TextEditor"],
  .tab.active[data-type="TextEditor"] .title,
  .tab.active[data-type="MarkdownPreviewView"],
  .tab.active[data-type="MarkdownPreviewView"] .title {
    background-color: @editor-background-color;
  }

  .tab-bar {
    box-shadow: inset 0 -1px 0 @ui-border-color;
  }

  .tab::after {
    background-image: none;
    border: none;
    box-shadow: none;
  }

  .wrap-guide {
    background-color: @ui-border-color;
  }
}
