@editor-background-color: #161616;
@gutter-background-color: #191919;
@ui-active-hightlight-color: #369;
@ui-border-color-light: #1f1f1f;

// Darker darks, whiter whites, flatter flats.
.theme-one-dark-ui {
  atom-panel {
    border: 0;
  }

  atom-text-editor {
    background-color: @editor-background-color;
    color: #fff;

    .line-number.cursor-line-no-selection {
      background-color: @ui-active-hightlight-color;
    }

    .gutter {
      background-color: @gutter-background-color;
    }

    .invisible-character {
      color: #333;
    }

    .selection .region {
      background-color: #333;
    }
  }

  atom-pane-container atom-pane {
    border: 0;

    .item-views {
      border: 0;
    }
  }

  .tab.active[data-type="TextEditor"],
  .tab.active[data-type="TextEditor"] .title,
  .tab.active[data-type="MarkdownPreviewView"],
  .tab.active[data-type="MarkdownPreviewView"] .title {
    background-color: @editor-background-color;
    box-shadow: none;
  }

  .tab.active[data-type="TextEditor"]::before {
    background-color: @ui-active-hightlight-color;
    bottom: auto;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: none;
    width: auto;
  }

  .tab-bar {
    box-shadow: none;

    .tab::after {
      background-image: none;
      border: none;
      box-shadow: none;
    }
  }

  .wrap-guide {
    background-color: @ui-border-color-light;
  }
}

// Terminal styling
.termrk .terminal {
  background-color: @editor-background-color !important;
  font-family: "Inconsolata-dz for Powerline", monospace !important;
}